.header {
  border-bottom: var(--border-connecting);
  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__menu {
    display: flex;
    gap: 93px;
  }
  &__logo {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}
