:root {
  --border-connecting: #ececec;
  --secondary-family: Raleway;
  --medium-weight: 700;
  --font-size-l: 26px;
  --color-font-hover: #2196f3;
  --color-font-strong: #000000;
  --color-background-skylight: #2196f3;
  --color-font-primary: #212121;
  --small-weight: 500;
}
